<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BAR ONLINE</title>
    <link rel="stylesheet" type="text/css" href="Styles/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="Styles/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="Styles/css/style.css">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BAR ONLINE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Producto
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Listar Productos", "Index", "producto")</li>
                            <li>@Html.ActionLink("Agregar Producto", "Create", "producto")</li>
                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" >
                            Mesas
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Listar Mesas", "Index", "mesas")</li>
                            <li>@Html.ActionLink("Agregar Mesa", "Create", "mesas")</li>
                          
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" >
                            Trabajadores
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Mostrar Trabajadores", "Index", "trabajador")</li>
                            <li>@Html.ActionLink("Agregar Trabajador", "Create", "trabajador")</li>

                        </ul>
                    </li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#menu-list">Menu Bar</a></li>
                    <li><a href="#event">Eventos</a></li>
                    <li><a href="#contact">Contacto</a></li>


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    <script src="Styles/js/jquery.min.js"></script>
    <script src="Styles/js/jquery.easing.min.js"></script>
    <script src="Styles/js/bootstrap.min.js"></script>
    <script src="Styles/js/jquery.mixitup.min.js"></script>
    <script src="Styles/js/custom.js"></script>
    <script src="Styles/contactform/contactform.js"></script>
</body>
</html>
